<div class="row">
  <div class="col-md-6 offset-md-3">
    <div class="card">
      <div class="card-body">
        <form [formGroup]="postForm" (ngSubmit)="onPostForm()">
          <div class="form-group">
            <label for="title">Title</label>
            <input
              type="text"
              class="form-control"
              formControlName="title"
              id="title"
            />
          </div>
          <div class="form-group">
            <label for="body">Content</label>
            <textarea
              class="form-control"
              formControlName="body"
              id="body"
              rows="3"
            ></textarea>
          </div>
          <div class="form-group">
            <label for="userId">User Id</label>
            <select class="form-control" formControlName="userId" id="userId">
              <option [value]="num" *ngFor="let num of numArr">
                {{ num }}
              </option>
            </select>
          </div>
          <div class="text-right">
            <button *ngIf="!editMode" type="submit" class="btn btn-primary">
              Add Post
            </button>
            <button
              *ngIf="editMode"
              (click)="onUpdatePost()"
              type="button"
              class="btn btn-primary"
            >
              Update Post
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
